.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer
{
animation-name: myanime;
animation-duration: 6s;
animation-delay: 0s;
animation-timing-function:ease-in-out;
animation-iteration-count: infinite;
padding:1.2rem;
}
@keyframes myanime {
  0%{border:2px black solid;
    outline: 5px black;
  }
  10%{border:1.9px black solid}
  30%{border:1.7px black solid}
  60%{border:1.5px black solid}
  80%{border:1.3px black solid}
  90%{border:1.2px black solid}
  100%{border:1.2px black solid}

}